# Core
python-dotenv
scipy
pydantic
gradio

# LangChain
langchain
langchain_google_genai
langchain_openai
langchain_groq
langchain-community
langchain-core
langchain-text-splitters
langgraph

# AI
google-genai
google-generativeai
langchain-chroma
chromadb

# Document processing
pypdf

# TTS/STT
edge-tts
gtts
deepgram-sdk
SpeechRecognition

# Audio
soundfile
pydub
numpy

# PDF
reportlab